<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render partial: 'user_info_req', locals:{f: f, type: "text_field", attribute: "username", label: "Username*", icon: "fas fa-user"} %>
  <%= render partial: 'user_info_req', locals:{f: f, type: "text_field", attribute: "email", label: "Email*", icon: "fas fa-envelope"} %>
  <%= render partial: 'user_info_req', locals:{f: f, type: "password_field", attribute: "password", label: "Password* (6 characters minimum)", icon: "fas fa-lock"} %>
  <%= render partial: 'user_info_req', locals:{f: f, type: "password_field", attribute: "password_confirmation", label: "Password confirmation*", icon: "fas fa-lock"} %>
  <br>
  <div class="field">
    <p class="help">Optional:</p>
    <%= render partial: 'user_info_opt', locals:{f: f, type: "text_field", attribute: "name", label: "Name"} %>
    <%= render partial: 'user_info_opt', locals:{f: f, type: "text_field", attribute: "bio", label: "Bio"} %>
    <%= render partial: 'user_info_opt', locals:{f: f, type: "text_field", attribute: "church", label: "Home Church"} %>
    <%= render partial: 'user_info_opt', locals:{f: f, type: "text_area", attribute: "verse", label: "Favorite Verse"} %>
    <%= f.submit :class => "button is-success"%>
<% end %>